
.container {
    display: inline-block;
    margin-right:20px;
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 250px;
    border-radius: 20px;
    white-space:normal;
}

.card .item-1 {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #152A46;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

.card .item-1 img {
    width: 70px;
    height: 100%;
}

.card .item-1 .bootcamp {
    color: #FFCD29;
    font-weight: 600;
    font-size: 12px;
}

.card .item-1 .title {
    margin-top: 12px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-inline-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card .item-1 .subtitle {
    color: white;
    font-size: 10px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-inline-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card .item-2 {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.card .item-2 .title {
    /* line-height: 23px; */
    font-weight: 600;
    font-size: 16px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-inline-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card .item-2 .subtitle {
    font-weight: 600;
    color: #444444;
    font-size: 12px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-inline-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.card .item-2 .batch {
    color: #444444;
    font-size: 10px;
}

.card .item-2 .mentor {
    color: #444444;
    font-size: 10px;
}

.card .item-2 .harga {
    color: #444444;
    font-size: 13px;
    text-decoration: line-through;
    margin-right: 10px;
    text-align: right ;
}
