.navbar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    color: white;
    font-size: 14;
    font-weight: 700;
    align-self: center;
    text-transform: uppercase;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar-menu ul {
    margin: 0px;
    padding: 0px;
    align-self: center;
}

.navbar-menu ul li {
    color: white;
    display: inline;
    font-size: 14;
    margin-right: 30px;
}

.navbar-menu button {
    background-color: #FF6161;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 10px 15px 10px 15px;
    transition: 0.3s;
}

.navbar-menu button:hover {
    background-color: #ff1010;
}
