.footer {
    bottom: 0;
    background-color: white;
    color: black;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 100px;
}

.myDIV {
    height:300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
  }
  .myDIV div {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .item1 {
    grid-row: 1 / span 2;
    text-align: left;
  }

  
    .item1 .tagline {
        font-weight: bold;
        color: #A3A3A3;
    }
    
    .item1 .subtagline {
        position: relative;
        top: 10px;
        color: #A3A3A3;
    }
    
  .item2 {
      text-align: left;
    }

    .item2 .program {
        color: black;
        font-weight: bold;
    }

    .item2 .online-course {
        position: relative;
        top: 10px;
        color: #A3A3A3;
    }

    .item2 .mini-bootcamp {
        top: 15px;
        position: relative;
        color: #A3A3A3;
    }

    .item2 .bootcamp {
        top: 20px;
        position: relative;
        color: #A3A3A3;
    }

  .item3 {
    text-align: left;
  }

    .item3 .bidang-ilmu {
        color: black;
        font-weight: bold;
    } 

    .item3 .digital-marketing {
        position: relative;
        top: 10px;
        color: #A3A3A3;
    }

    .item3 .product-management {
        position: relative;
        top: 15px;
        color: #A3A3A3;
    }

    .item3 .english {
        position: relative;
        top: 25px;
        color: #A3A3A3;
    }

    .item3 .programming {
        position: relative;
        top: 35px;
        color: #A3A3A3;
    }

  .item4 {
    text-align: left;
  }

    .item4 .tentang-edspert {
        color: black;
        font-weight: bold;
    }

    .item4 .bantuan {
        position: relative;
        top: 10px;
        color: #A3A3A3;
    }

    .item4 .kontak-kami {
        position: relative;
        top: 15px;
        color: #A3A3A3;
    }
    
    .item4 .media-sosial {
        position: relative;
        top: 25px;
        color: #A3A3A3;
    }


  .item5 {
      grid-column: auto / span 3;
      text-align: left;
      color: #A3A3A3;
  }